In [1]:
from ast import literal_eval
from os import listdir
from os.path import isfile, join
from scipy.sparse import csr_matrix, load_npz, save_npz
from tqdm import tqdm
from sklearn.preprocessing import normalize

import seaborn as sns
import datetime
import json
import numpy as np
import pandas as pd
import time
import yaml
import scipy.sparse as sparse
from ast import literal_eval

# For Python2 this have to be done
from __future__ import division

In [4]:
# Load Original Data

dataset_name = 'yelp'

df = pd.read_csv('../../data/'+ dataset_name +'/toronto_reviews.csv')
# df_train = pd.read_csv('../../data/'+ dataset_name +'/Train.csv')
# df_valid = pd.read_csv('../../data/'+ dataset_name +'/Valid.csv')
# df_test = pd.read_csv('../../data/'+ dataset_name +'/Test.csv')
# key_phrase = pd.read_csv('../data/'+ dataset_name +'/KeyPhrases.csv')

In [12]:
df.head()

,business_id,friend_count,ghost,img_dsc,img_url,nr,photo_count,rating,review_count,review_date,...,review_language,review_text,ufc,user_id,user_loc,vote_count,Updated,Year,Month,Day
0,bSQGCheX1BwvL67Az1OJlA,90,False,[],[],False,231.0,5.0,82,"['9', '5', '2018']",...,en,I had a good experience at this store. I was g...,"[10, 1, 10]",q41qqkChL9fRxF43cnkgbw,"Houston, TX",11.0,False,2018,5,9
1,bSQGCheX1BwvL67Az1OJlA,0,False,[],[],False,9.0,1.0,43,"['3', '6', '2018']",...,en,I reaaaaaally wish I had read all the stories ...,"[0, 0, 0]",tNT5I9-QcljS-7w_doXCXQ,"Toronto, Canada",0.0,False,2018,6,3
2,bSQGCheX1BwvL67Az1OJlA,52,False,"[""Photo of Sleep Country - Toronto, ON, Canada...",['https://s3-media1.fl.yelpcdn.com/bphoto/E_gL...,False,27.0,1.0,31,"['7', '30', '2016']",...,en,Everything was fine until the delivery. I wait...,"[3, 1, 2]",9q1Do6TVM27RNHUQAQxPRg,"Toronto, Canada",3.0,False,2016,30,7
3,Z7JV11GXw_RsGr8Ik_Hsag,0,False,[],[],False,NaN,5.0,3,"['12', '16', '2018']",...,en,"Thought I had bed bugs, but it turned out to b...","[0, 0, 0]",cr-4gAf1_seYWLoO59Lp4w,"Old Toronto, Toronto, Canada",0.0,False,2018,16,12
4,Z7JV11GXw_RsGr8Ik_Hsag,0,False,[],[],False,NaN,5.0,5,"['8', '6', '2014']",...,en,"When we called, Mr. Akram was willing to come ...","[1, 0, 0]",CQkTIyhNczRlRI4kIdAzSw,"Toronto, Canada",1.0,False,2014,6,8

In [10]:
df = df.drop(["Unnamed: 0.1"],axis = 1)

In [11]:
df.loc[0]

business_id                                   bSQGCheX1BwvL67Az1OJlA
friend_count                                                      90
ghost                                                          False
img_dsc                                                           []
img_url                                                           []
nr                                                             False
photo_count                                                      231
rating                                                             5
review_count                                                      82
review_date                                       ['9', '5', '2018']
review_id                                     NjYpdf2W7_2UU691w9Rlnw
review_language                                                   en
review_text        I had a good experience at this store. I was g...
ufc                                                      [10, 1, 10]
user_id                                       q41qqkChL9fRxF43cnkgbw
user_loc                                                 Houston, TX
vote_count                                                        11
Updated                                                        False
Year                                                            2018
Month                                                              5
Day                                                                9
Name: 0, dtype: object